.sidebar{
    margin-top: 10px ;
    margin-left: 30px;
    border-right: 2px solid rgba(222, 222, 222, 0.984);
    padding-right: 15px; 
    position: fixed;
    width: 200px; /* Điều chỉnh chiều rộng của thanh điều hướng theo ý muốn */
    height: 100%;
}
.dropbtn {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }
.choose {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.choose li.active a p {
    color: #ea8025; /* Màu chữ khi mục có class active */
}


.choose ul {
    list-style-type: none;
    padding: 0;
}

.choose li {
    margin-bottom: 10px;
    padding: 10px 0px;
}

.choose li a {
    text-decoration: none; /* Loại bỏ gạch chân cho liên kết bên trong <li> */
    color: black;
}
.choose li a:hover {
    background-color: #ffffff;
    color: #ea8025;
    transition: color 0.3s ease;
}
li i{
    font-size: 30px;
}
.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204,197,185,.5);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.card:hover {
    background-color: #ebebeb;
    transition: background-color 0.3s ease;
}
.card .content {
    padding: 15px 15px 10px;
}
.card .icon-big {
    font-size: 3em;
    min-height: 64px;
    text-align: center;
}
.name-card{
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
}
