.sidebar{
    margin-top: 10px ;
    margin-left: 30px;
    border-right: 2px solid rgba(222, 222, 222, 0.984);
    padding-right: 15px; 
    position: fixed;
    width: 200px; /* Điều chỉnh chiều rộng của thanh điều hướng theo ý muốn */
    height: 100%;
}
.sidebar .cho{
    margin-top: 20px;


}
.choose {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.choose li.active a p {
    color: #ea8025; /* Màu chữ khi mục có class active */
}

.choose ul {
    list-style-type: none;
    padding: 0;
}

.choose li {
    margin-bottom: 10px;
    padding: 10px 0px;
}

.choose li a {
    text-decoration: none; /* Loại bỏ gạch chân cho liên kết bên trong <li> */
    color: black;
}
.choose li a:hover {
    background-color: #ffffff;
    color: #ea8025;
    transition: color 0.3s ease;
}
li i{
    font-size: 30px;
}
.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204,197,185,.5);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
.card .header {
    padding: 20px 20px 0;
}
.card .info-customer{
    padding: 20px 20px 0;
}
.card .total{
    padding: 20px 20px 0;
}
.card .title {
    margin: 0;
    color: #252422;
    font-weight: 300;
}
.card .content {
    padding: 15px 15px 10px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table {
    background-color: transparent;
}
.table-full-width {
    margin-left: -15px;
    margin-right: -15px;
}
.card button{
    border-radius: 10px;
    border: none;
    width: max-content;
    height: max-content;
    color: white;
}
.card button a{
    text-decoration: none;
    color: white;
}
.tch-order-card__title {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: var(--space-16);
    height: 24px;
    line-height: var(--space-24);
    overflow: hidden;
}
.check{
    font-size: 13px;
}

.add-btn{
    background-color:#7ac29a ;
}
.add-btn:hover{
    background-color:#609879 ;
}
.del-btn{
    background-color:#eb5e28 ;
}
.del-btn:hover{
    background-color:#c15226 ;
}
.accept-btn{
    background-color:#68b3c8 ;
}
.accept-btn:hover{
    background-color:#508999 ;
}
.detail-btn{
    background-color:#f3bb45 ;
}
.detail-btn:hover{
    background-color:#bb9135 ;
}

