.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;

}
.info{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info a {
    padding: 30px 60px; /* Thay đổi giá trị để điều chỉnh khoảng cách */
   text-decoration: none;
   color: orange;
}

.navbar{
    
    background-color: rgba(230, 237, 244, 0.984);
    margin-bottom: 80px;
}
.navbar>.container{
    display: initial !important; /* hoặc display: unset; */ 
}
.logo{
    display: flex; 
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
    height: 100%
}
.category{
    display: flex;
    gap: 20px; /* Điều chỉnh khoảng cách giữa các mục */
}

.category a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 10px 30px; /* Thay đổi giá trị nếu cần */
}

.receipt-info{
    margin-top: 50px;
}
.receipt{
    margin-top: 70px;
}
.title {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 12px;

}
.title a{
    text-decoration: none;
   color: rgb(0, 0, 0);
   padding: 10px 0px;
   font-size: 18px;
   border-bottom: 3px solid #E57905;
   
}
.form-control {
    background-color: #f9f9f9 !important;
}
input .form-control {
    width: 400px ;
}
.form-control:focus {
    border-color: #ea8125e4 !important; /* Màu viền khi focus tùy chỉnh */
    box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.25) !important;  /* Hiệu ứng shadow khi focus */
}
.form-control::placeholder {
    color: rgb(150, 150, 150) !important;
}
.receipt-form{
    float: right;

}
label{
    font-size: 14px;
}

.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204,197,185,.5);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    width: 450px;
    overflow: hidden;
}
.card .header {
    padding: 20px 20px 0;
}
.card .content {
    padding: 15px 15px 10px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table {
    background-color: transparent;
}
.table-full-width {
    margin-left: -15px;
    margin-right: -15px;
}
.drinkincart{
    margin-top: 30px;
}
#edit{
    margin-right: 10px;
    text-decoration: none;
    color: #ea8125e4;
}
#delete{
    text-decoration: none;
    color: #000000;
}
#delete:hover{
    color: #ea8125e4;
    transition: color 0.3s ease;
}
.tch-order-card__title {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: var(--space-16);
    height: 24px;
    line-height: var(--space-24);
    overflow: hidden;
}
.footer-receipt{
    background-color: #E57905;
    
}
.tch-checkout-box{
    padding: 25px 10px;
    color: white;
}
#buy{
    background-color: white;
    color: #E57905;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 100px;
}
#buy:hover{
    background-color: rgb(240, 240, 240);
}


footer{
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
    margin-top: 50px ;
}
.footerinfo{
    padding-top: 50px;
}
.footerinfo p{
    font-size: 13px;
    margin: 0;
}
.footercat{
    margin-bottom: 20px;
    
}
.footercat b {
    font-size: 20px;
}

.footerinfo a{
    padding: 10px 0px;
    text-decoration: none;
   color: rgb(255, 255, 255);
}
footer .col-lg-12{
    margin-top: 30px;
}
footer .col-lg-9{
    margin-top: 20px;
    margin-bottom: 20px;
}