.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;

}
.info{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info a {
    padding: 30px 60px; /* Thay đổi giá trị để điều chỉnh khoảng cách */
   text-decoration: none;
   color: orange;
}
.dropbtn {
    background-color: rgba(230, 237, 244, 0.984);
    color: black;
    font-size: 35px;
    border: none;
    cursor: pointer;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(230, 237, 244, 0.984);
  }
.navbar{
    
    background-color: rgba(230, 237, 244, 0.984);
    margin-bottom: 30px;
}
.navbar>.container{
    display: initial !important; /* hoặc display: unset; */ 
}
.logo{
    display: flex; 
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
    height: 100%
}
.category{
    display: flex;
    gap: 20px; /* Điều chỉnh khoảng cách giữa các mục */
}

.category a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 10px 30px; /* Thay đổi giá trị nếu cần */
}

.drink-info{
    margin-bottom: 20px;
}
.previous{
    color: rgb(150, 150, 150);
    size: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.previous a{
    text-decoration: none;
    color: black
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.drink-name-detail{
    font-size: 30px;
}
.drink-cost{
    font-size: 30px;
    color: #ea8025;
}
.drink-order{
    margin-left: 20px;
}

.pick-size-button a{
    text-decoration: none;
    color: black
}

.pick-size-button i{
    text-decoration: none;
    
}
.color-change-pick-size-button {
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: rgb(150, 150, 150);
}
.active{
    background-color: #ea8025; 
    color: white;
    border-color: #ea8025;
}
.color-change-pick-topping-button{
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    color: rgb(150, 150, 150);
}
input[type="checkbox"] {
    display: none;
  }
input[type="checkbox"]:checked + label {
    background-color:  #ea8025; /* Màu nền khi được chọn */
    color: #fff; /* Màu văn bản khi được chọn */
    border-color: #ea8025;
    border-radius: 5px;
  }
#btn-order{
    width: 100%;
    height: 40px;
    background-color: #ea8025; 
    color: white;
    border-color: #ea8025;
    border-radius: 5px;
    font-size: 15px;
}
#thumbCarousel {
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}
#thumbCarousel .thumb {
    float: left;
    margin-right: 10px;
    background: #fff;
    border-radius: 8px;
}
#thumbCarousel .thumb img {
    width: 75px;
    height: 75px;
    opacity: 0.5;
    border-radius: 8px;
}
.thumb img {
    border: none;
    max-width: 100%;
    height: auto;
}
.card{
    width: 90%;
    height: 90%;
    border: 0px !important;
    padding: 20px 0px;
    border-radius: 15px;
    position: relative;
    
}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease
}
.card:hover img {
    transform: scale(1.1); /* Điều chỉnh tỷ lệ phóng to (1.2 = 120%) */
}

.drink-name{

    text-decoration: none;
   color: rgb(0, 0, 0);
    text-align: center; /* Căn giữa các dòng */ 
    font-size: 18px;
}




footer{
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
    margin-top: 50px ;
}
.footerinfo{
    padding-top: 50px;
}
.footerinfo p{
    font-size: 13px;
    margin: 0;
}
.footercat{
    margin-bottom: 20px;
    
}
.footercat b {
    font-size: 20px;
}

.footerinfo a{
    padding: 10px 0px;
    text-decoration: none;
   color: rgb(255, 255, 255);
}
footer .col-lg-12{
    margin-top: 30px;
}
footer .col-lg-9{
    margin-top: 20px;
    margin-bottom: 20px;
}