.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;

}
.info{
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 a{
    text-decoration: none;
   color: rgb(0, 0, 0);
}
.cart a{
    float: right;
    color: black;
    font-size: 35px;
    text-decoration: none;
    transition: .5s;
  }
  .cart a:hover{
    color: #ea8025;
  }
.dropbtn {
    background-color: rgba(230, 237, 244, 0.984);
    color: black;
    font-size: 35px;
    border: none;
    cursor: pointer;

   
    
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(230, 237, 244, 0.984);
  }
.info a {
    padding: 30px 60px; /* Thay đổi giá trị để điều chỉnh khoảng cách */
   text-decoration: none;
   color: orange;
}

.navbar{

    background-color: rgba(230, 237, 244, 0.984);

}
.navbar>.container{
    display: initial !important; /* hoặc display: unset; */
}
.logo{
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
    height: 100%
}
.category{
    display: flex;
    gap: 20px; /* Điều chỉnh khoảng cách giữa các mục */
}

.category a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 10px 30px; /* Thay đổi giá trị nếu cần */
    transition: .5s;
}
.category a:hover{
  color: #ea8025;

}

.bestseller{
    margin-top: 70px;
}
.banner {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;

}
.banner img{
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
.card{
    width: 90%;
    height: 90%;
    border: 0px !important;
    padding: 20px 0px;
    border-radius: 15px;
    position: relative;

}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease
}
.card:hover img {
    transform: scale(1.1); /* Điều chỉnh tỷ lệ phóng to (1.2 = 120%) */
}

.drink-name{
    text-decoration: none;
   color: rgb(0, 0, 0);
    text-align: center; /* Căn giữa các dòng */

}
.review{
    margin-top: 5px;
    margin-bottom: 50px;
}
button.btnreview {
    font-size: large;
    background-color: rgb(127 145 74);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 0px;
    width: 100%;
    height: 30px;
}

.bgreview {
    position: relative;
    height: 100%;
}


.bgreview img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}
.news{
    background-color: #FFF7E6;
}
.news-content{
    padding-top: 20px;
}
.blog_home_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 28px;
    margin-top: 40px;
}
.blog_home_blogtitle {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding-left: 12px;
    border-left: 4px solid #E57905;
}
.blog_home_blogtitle a{
    text-decoration: none;
    color: #191919;
    transition: .5s;
}
.blog_home_blogtitle a:hover{
    color: #E57905;
}
.news-card .card{
    background-color:#FFF7E6 ;
}
.news-card .card img{
   height: 180px;
   object-fit: cover;
}
.news-card .card a{
    text-decoration: none;
    color: #191919;
    transition: .5s;
}

.news-card .card a:hover{
    color: #E57905;
}


footer{
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
}
.footerinfo{
    padding-top: 50px;
}
.footerinfo p{
    font-size: 13px;
    margin: 0;
}
.footercat{
    margin-bottom: 20px;

}
.footercat b {
    font-size: 20px;
}

.footerinfo a{
    padding: 10px 0px;
    text-decoration: none;
   color: rgb(255, 255, 255);
}
footer .col-lg-12{
    margin-top: 30px;
}
footer .col-lg-9{
    margin-top: 20px;
    margin-bottom: 20px;
}
