.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;

}
.info{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info a {
    padding: 30px 60px; /* Thay đổi giá trị để điều chỉnh khoảng cách */
   text-decoration: none;
   color: orange;
}
.dropbtn {
    background-color: rgba(230, 237, 244, 0.984);
    color: black;
    font-size: 35px;
    border: none;
    cursor: pointer;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(230, 237, 244, 0.984);
  }
.navbar{
    
    background-color: rgba(230, 237, 244, 0.984);
    margin-bottom: 30px;
}
.navbar>.container{
    display: initial !important; /* hoặc display: unset; */ 
}
.logo{
    display: flex; 
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
    height: 100%
}
.category{
    display: flex;
    gap: 20px; /* Điều chỉnh khoảng cách giữa các mục */
}

.category a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 10px 30px; /* Thay đổi giá trị nếu cần */
}

.sidebar_menu li{
    list-style-type: none;
    margin-left: 40px;

}
.dropbtn {
    background-color: #ffffff;
    color: rgba(130, 130, 130, 0.984);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(222, 222, 222, 0.984);
    z-index: 1;
  }
  .dropdown a {
    color: rgba(130, 130, 130, 0.984);
    text-decoration: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgba(130, 130, 130, 0.984);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ffffff;
    color: #ea8025;
}
    .dropdown a:hover {
    background-color: #ffffff;
    color: #ea8025;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #ea8025;
  }
  .col-lg-9 .drink {
    border-left: 2px solid rgba(222, 222, 222, 0.984); /* Màu viền và độ rộng viền bên phải có thể điều chỉnh */
    padding-left: 15px; /* Độ dày viền và nội dung bên phải của cột */
}


.card{
    width: 90%;
    height: 90%;
    border: 0px !important;
    padding: 20px 0px;
    border-radius: 15px;
    position: relative;
    
    
}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease
}
.card:hover img {
    transform: scale(1.1); /* Điều chỉnh tỷ lệ phóng to (1.2 = 120%) */
}

.drink-name{

    text-decoration: none;
   color: rgb(0, 0, 0);
    text-align: center; /* Căn giữa các dòng */ 
    font-size: 18px;
}

footer{
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
    margin-top: 50px ;
}
.footerinfo{
    padding-top: 50px;
}
.footerinfo p{
    font-size: 13px;
    margin: 0;
}
.footercat{
    margin-bottom: 20px;
    
}
.footercat b {
    font-size: 20px;
}

.footerinfo a{
    padding: 10px 0px;
    text-decoration: none;
   color: rgb(255, 255, 255);
}
footer .col-lg-12{
    margin-top: 30px;
}
footer .col-lg-9{
    margin-top: 20px;
    margin-bottom: 20px;
}